@import "../../variables.scss";
.Home-header {
  /* background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../public/images/hands.jpg"); */
  background-image: linear-gradient(
      to right bottom,
      #2c2d2e,
      #4b4d50,
      #6c7075,
      #8f959c,
      #b4bcc5
    ),
    url("../../../../public/images/manandwoman.jpg");
  background-blend-mode: multiply;

  background-size: cover;

  background-position: top;

  background-attachment: fixed;
  height: calc(100vh);
  /* margin-top: 60px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  // font-size: calc(10px + 2vmin);

  color: white;
}

.header-text1 {
  text-align: left;
  width: 100%;
  padding-left: 6rem;
  padding-bottom: 6rem;
  font-size: 2.4rem;
}

.header-text2 {
  text-align: left;
  width: 50%;
  padding-left: 6rem;
  font-size: 2.4rem;
  line-height: 6rem;
}

// ----------------------------------- BIG SCREEN ---------------------------------------

@media screen and (min-width: 1400px) {
  .Home-header {
    justify-content: flex-start;
    padding-top: 20rem;
  }
  .header-text1 {
    text-align: left;
    width: 100%;
    padding-left: 6rem;
    padding-bottom: 8rem;
    font-size: 4rem;
  }
  .header-text2 {
    text-align: left;
    width: 50%;
    padding-left: 6rem;
    font-size: 3.4rem;
    line-height: 7rem;
  }
}

@media screen and (max-width: 480px) {
  .Home-header {
    background-image: linear-gradient(
        to right bottom,
        #2c2d2e,
        #4b4d50,
        #6c7075,
        #8f959c,
        #b4bcc5
      ),
      url("../../../../public/images/hands.jpg");
    justify-content: flex-start;
    padding-top: 12rem;
  }
  .header-text1 {
    font-size: 1.8rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
    // border: 1px solid white;
  }
  .header-text2 {
    text-align: left;
    width: 85%;
    padding-left: 3rem;
    font-size: 1.8rem;
    line-height: 4rem;
    // border: 1px solid white;
  }
}
