@import "../../variables.scss";
.AboutContainer {
  height: 100vh;
  color: $color-scale-orange-4;
  padding-top: 8rem;
  // border: 1px solid red;
  background-image: linear-gradient(
    to right bottom,
    #262628,
    #23272a,
    #202829,
    #202924,
    #26281f
  );
}
